@charset "utf-8";
.pagebody {
	width:100%;
	margin:auto;
}

/*header*/
#header{
	position: fixed !important;
	position:absolute;
	margin-bottom:40%;
	width:100%;
	height:40px;
	background-color: #CCC;
}

	#pink{
		position:absolute;
		top:0px;
		left:0%;
		width: 100%;
		height:40px;
		background-color: #FF69B4;
		}
		
	#green{
		position:absolute;
		top:0px;
		left: 30%;
		width: 100%;
		height:40px;
		background-color: #00FF00;
		}
		
	#aqua{
		position:absolute;
		top:0px;
		left: 50%;
		width: 100%;
		height:40px;
		background-color: #00FFFF;
		}
		
	#yellow{
		position:absolute;
		top:0px;
		left: 60%;
		width: 100%;
		height:40px;
		background-color: #FFFF00;
		}
		
	#gray{
		position:absolute;
		top:0px;
		left: 85%;
		width: 100%;
		height:40px;
		background-color: #C0C0C0;
		}
/*ここまで*/

h1.title{
	padding-top:6.5%;
	padding-left:10%;
	padding-right:10%;
}

#egco{
	color: #000000;
}


#bulletin{
	margin-top:4%;
	margin-left:10%;
	margin-right:10%;
	padding-top:0.5%;
	padding-bottom:0.5%;
	border:1px solid #ccc;
	background:#c0c0c0;
}

#blword{
	margin-left:5%;
    color:#ffffff;
}

#contents{
	display:-moz-box;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flexbox;
	margin-left:10%;
	margin-right:10%;
	border: 1px solid #ccc;
}

#contentstitle{
	padding-top:2%;
	padding-left:6.5%;
	color:#000000;
}

#m.number{
font-family: Georgia,"Times New Roman",Times,serif;
margin: 0;
padding-bottom: 5px;
}

hr{
	border:none;
	border-top:dashed 1px #000000;
	height:1px;
	color:#000000;
	width:87%;
	margin-left;6%:
	border-style: dotted none none;
	border-width: 1px medium medium;
}

#prev{
	padding-bottom: 10px;
	text-align: right;
	width: 95%;
}

.firstpage{
	color: #000000;
	font-size: 18px;
	font-weight: bolder;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
}

.page{
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	margin-left:1%;
}


#sub{
	width:250px;
	margin-left:3%;
	background:#edebe6;
}

#subtitle{
	padding-top:5%;
	padding-left:8%;
	margin-right:4%;
	float:left;
	
	font-size: 110%;
	line-height: 1.6;
	font-family: Georgia,"Times New Roman",Times,serif;
	color: #333333;
	padding-bottom:1px;
}

#membername{
	padding-top:5%;
	margin-right:2%;
	font-size: 125%;
	line-height: 1.6;
	color: #333333;
	padding-bottom:1px;
	float:left;
}

#sama{
	padding-top:5%;
	padding-left:2%;
	font-size: 125%;
	line-height: 1.6;
	color: #333333;
	padding-bottom:1px;
}

#membercourse{
	padding-left:8%;
	margin-right:3%;
	float:left;
}

#timestitle{
	padding-left:1%;
	margin-right:4%;
	float:left;
}

#times{
	padding-left:3%;
	margin-right:1%;
	float:left;
}

#kai{
	padding-left:1%;
	margin-right:1%;
}

.none{
	list-style-type: none;
	float:left;
}

.none2{
	list-style-type: none;
	margin-left:40%
}

.none3{
	margin-left:5%;
}

.othermember{
	padding-left:8%;
	margin-right:4%;
	font-size: 110%;
	line-height: 1.6;
	color: #333333;
	padding-bottom:1px;
}

p.searchmember{
	padding-left:11%;
	margin-right:4%;
	font-size:120%;
	line-height: 1.6;
	padding-bottom:2px;
	margin-top: 3%;
}

.knownmember{
	padding-left:8%;
	margin-right:4%;
	font-size: 110%;
	line-height: 1.6;
	color: #333333;
	padding-bottom:1px;
}

h3.knownname1{
	margin-top: 7%;
	padding-left: 40%;
}

h3.knownfriends1{
	margin-bottom: 9%;
	padding-left: 40%;
}

h3.knownname2{
	margin-top: 16%;
	padding-left: 40%;
}

h3.knownfriends2{
	margin-bottom: 9%;
	padding-left: 40%;
}

h3.knownname3{
	margin-top: 16%;
	padding-left: 40%;
}

h3.knownfriends3{
	margin-bottom: 9%;
	padding-left: 40%;
}

.unkownMember{
	padding-left:8%;
	margin-right:4%;
	font-size: 110%;
	line-height: 1.6;
	color: #333333;
	padding-bottom:1px;
	clear:both;
}

.knownmember1{
	list-style-type: none;
	float:left;
}

.knownmember2{
	list-style-type: none;
	float:left;
}

.knownmember3{
	list-style-type: none;
	float:left;
}

.unknownMember1{
	list-style-type: none;
	float:left;
}

.unknownMember2{
	list-style-type: none;
	float:left;
}

.unknownMember3{
	list-style-type: none;
	float:left;
}

.unknownMname1{
	margin-top: 6%;
	margin-left: 40%;
}

.unknownMname2{
	margin-top: 17%;
	margin-left: 40%;
}

.unknownMname3{
	margin-top: 17%;
	margin-left: 40%;
}

.unknownStatus1{
	margin-left: 40%;
	margin-bottom: 10%;
}

.unknownStatus2{
	margin-left: 40%;
	margin-bottom: 10%;
}

.unknownStatus3{
	margin-left: 40%;
	margin-bottom: 30%;
}

.section {
	box-sizing:border-box;
	width:630px;
	padding:10px;
}

.section2 {
	box-sizing:border-box;
	width:630px;
	padding:10px;
}

aside {
	box-sizing:border-box;
	margin-top:1%;
	margin-left:10%;
	margin-right:10%;
	padding-top:0.5%;
	padding-bottom:0.5%;
}

#iconmenu li{
	text-align:center;
	display:block;
	height:60px;
	overflow:hidden;
	float:left;
}

.follow{
	margin-right:1%;
	margin-top:3%;
	float:left;
}
